#login-wraper {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -185px;
  margin-left: -235px;
  padding: 25px;
  width: 420px;
  height: 350px;
  background: white;
  text-align: center;
}

.errortext{
	color:red;
}


.login-form legend {
  margin-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 25px;
}

.login-form .body {
  max-width:280px;
  MARGIN-RIGHT: auto; MARGIN-LEFT: auto;
  padding-bottom: 0px;
  border-bottom: 1px solid #eeeeee;
}

.login-form .footer {
  margin-top: 20px;
}
.login-form .footer .checkbox.inline {
  display: inline;
}

.login-form .footer .checkbox.inline input[type="checkbox"] {
  float: none;
  margin-top: -4px;
}

.login-form .footer .btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 15px;
  padding: 7px 25px;
}

footer.navbar-fixed-bottom {
  font-size: 16px;
  color: white;
  line-height: 18px;
  font-weight: 400;
}

footer.white {
  padding-top: 20px;
  height: 60px;
  background: black;
  text-align: center;
}

}

.ps-hidden {
  display: none;
}


#register-wraper {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -185px;
  margin-left: -235px;
  padding: 25px;
  width: 420px;
  height: 400px;
  background: white;
}

#info-wraper {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -185px;
  margin-left: -235px;
  padding: 25px;
  width: 420px;
  height: 440px;
  background: white;
}


.register-form legend {
  margin-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 25px;
  text-align: center;
}

.register-form .body {
  max-width:280px;
  MARGIN-RIGHT: auto; MARGIN-LEFT: auto;
  border-bottom: 1px solid #eeeeee;
  text-align: left;
}

.register-form .footer {
  margin-top: 10px;
  text-align: center;
}

.register-form .footer .btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 15px;
  padding: 7px 25px;
  background-image: none;
}

